<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @cart.agent_id %>
</p>

<p>
  <strong>Items:</strong>
  <%= @cart.items %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
