<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Happy Tummy", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if signed_in? %>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              <% else %>
                <li><%= link_to "Home",root_path  %></li>
                <li><%= link_to "Help",help_path %></li>
                <li><%= link_to "Sign in", '/signin' %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container boxContainer">
    <div id="myModal" class="modal fade modal-sm" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete confirmation</h4>
            </div>
            <div class="modal-body">
              <p>Delete the items from the cart?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class=" deleteConfirmation btn btn-default" data-dismiss="modal">Delete</button>
            </div>
          </div>

        </div>
      </div>
      <div id="myModal1" class="modal fade modal-sm" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Order delivery confirmation</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure the items are delivered and ready to be removed from the order list?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class=" deliveryConfirmation btn btn-default" data-dismiss="modal">remove</button>
            </div>
          </div>

        </div>
      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="footer">
      <small>
        <a href="http://railstutorial.org/">Licensed under section4567
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
        </ul>
      </nav>
    </footer>
    
  </body>

</html>